@model Ticked.Models.ClimbersModel

@{
    ViewBag.Title = "Climbers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("SaveClimber", "Climbers", FormMethod.Post)) {
<div>
@Html.LabelFor(m => m.FirstName, new { @class = "text-white" })
@Html.TextBoxFor(m => m.FirstName)
</div>
<div>
@Html.LabelFor(m => m.LastName, new { @class = "text-white" })
@Html.TextBoxFor(m => m.LastName)
</div>
<div>
@Html.LabelFor(m => m.HomeGym, new { @class = "text-white" })
@Html.TextBoxFor(m => m.HomeGym)
</div>
<div>
<button id="SubmitBtn" type="submit" role="button" value="Submit">
    <div class="submit-button">Save</div>
</button>
</div>
<div class="clear"></div>
}